.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle at top, rgba(73, 93, 153, 0.25), rgba(4, 6, 20, 0.95) 55%);
}

.appMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  transition: all 240ms ease;
}

@media (min-width: 1025px) {
  .appMain {
    margin-left: 80px;
  }
}

.appContent {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  gap: 20px;
  transition: all 240ms ease;
}

@media (min-width: 1025px) {
  .appContent {
    margin-right: 0;
  }
}

.appContent__main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
